<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ MIT License
  ~
  ~ Copyright (c) 2017 Heiner Bäumer
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<project name="hbaeumer/skeleton" default="sca">

    <property name="dir.build" value="./build" />
    <property name="dir.reports" value="${dir.build}/reports" />
    <property name="dir.src" value="./src" />
    <property name="dir.test" value="./tests" />
    <property name="dir.docs" value="./docs/generated" />

    <fileset dir="${dir.src}" id="php.sources">
        <include name="**/*.php"/>
    </fileset>

    <target name="prepare">
        <delete dir="${dir.build}"/>
        <mkdir dir="${dir.build}" />
        <mkdir dir="${dir.reports}" />
        <mkdir dir="${dir.docs}/coverage" />
        <mkdir dir="${dir.docs}/phpmetrics" />
    </target>

    <target name="sca" depends="prepare, lint, phploc, pdepend, phpmd, phpcs, phpcpd, phpunit, phpmetrics, phpstan-cs">

    </target>

    <target name="fix">
        <exec passthru="true" command="phpcbf --standard=./phpcs.xml.dist ${dir.src} ${dir.test}"/>
    </target>

    <target name="lint" depends="prepare">
        <phplint>
            <fileset refid="php.sources"/>
        </phplint>
    </target>

    <target name="phploc" depends="prepare">
        <exec passthru="true" command="phploc --count-tests --log-xml ${dir.reports}/phploc.xml ${dir.src}"/>
    </target>

    <target name="pdepend" depends="prepare">
        <exec passthru="true" command="pdepend --jdepend-xml=${dir.reports}/jdepend.xml --jdepend-chart=${dir.reports}/jdepend.svg --overview-pyramid=${dir.reports}/pyramid.svg --summary-xml=${dir.reports}/summary.xml ${dir.src}"/>
    </target>

    <target name="phpmd" depends="prepare">
        <exec passthru="true" command="phpmd ${dir.src} xml cleancode,codesize,controversial,design,naming,unusedcode --reportfile ${dir.reports}/phpmd.xml"/>
    </target>

    <target name="phpcs" depends="prepare">
        <exec passthru="true" command="phpcs --standard=./phpcs.xml.dist --extensions=php --report-checkstyle=${dir.reports}/checkstyle.xml ${dir.src}"/>
    </target>
    <target name="phpcs-full" depends="prepare">
        <exec passthru="true" command="phpcs --standard=./phpcs.xml.dist --extensions=php --report=full ${dir.src}"/>
    </target>

    <target name="phpcpd" depends="prepare">
        <exec passthru="true" command="phpcpd --log-pmd ${dir.reports}/pmd-cpd.xml ${dir.src}"/>
    </target>

    <target name="phpmetrics" depends="prepare, phpunit" >
        <exec passthru="true" command="phpmetrics --extensions=php --report-violations=${dir.reports}/phpmetrics.xml --report-html=${dir.docs}/phpmetrics --report-json=${dir.reports}/phpmetrics.json ." />
    </target>
    <target name="phpmetrics1" depends="prepare, phpunit" >
        <exec passthru="true" command="phpmetrics1 --report-html=${dir.docs}/phpmetrics1.html ${dir.src}" />
    </target>

    <target name="phpunit" depends="prepare">
        <echo message="vendor/bin/phpunit"/>
        <exec passthru="true" command="vendor/bin/phpunit --coverage-clover=${dir.reports}/coverage.xml --coverage-html=${dir.docs}/coverage_html --log-junit=${dir.reports}/junit.xml "/>
    </target>

    <target name="phpstan-cs" depends="prepare">
            <exec passthru="true" command="phpstan analyse -l 1 --no-progress --no-ansi --errorFormat=checkstyle ${dir.src} > ${dir.reports}/phpstancs.xml"/>
        </target>


</project>
